:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray-100: #f2f2f2;
  --gray-200: #ebebeb;
  --gray-300: #d9d9d9;
  --gray-400: #c4c4c4;
  --gray-500: #a3a3a3;
  --gray-600: #808080;
  --gray-700: #666666;
  --gray-800: #4d4d4d;
  --gray-900: #333333;
  --green-500: #10b981;
  --red-500: #ef4444;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
