.pageContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.tabContainer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.linkedTabButton {
  padding: 10px 12px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--gray-600);
  font-weight: 600;
}

.activeTabButton {
  font-weight: 600;
  color: var(--gray-100);
}
